:root {
    --coffee-color: #6b4332b6;
    --light-color: rgba(240, 255, 255, 0.708);
    --coffee-super-color: #6b4332;
    --temno-color: #010305;
}

* {
    margin: 0;
}

.block {
    height: 100vh;
}